:root {
  --header-height: 56px;
  --sidebar-width: 240px;
  --bg-color: #f9f9f9;
}

body {
  margin: 0;
  padding-top: var(--header-height);
  padding-left: var(--sidebar-width);
  background-color: var(--bg-color);
  font-family: Roboto, Arial, sans-serif;
  box-sizing: border-box;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

main {
  padding: 24px;
  background-color: var(--bg-color);
}