.video-grid {
  position: relative;
  display: grid;
}

@media (max-width: 750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 751px) and (max-width: 999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.thumbnail-row {
  position: relative;
}

.thumbnail {
  width: 100%;
}

.video-time {
  position: absolute;
  bottom: 8px;
  right: 5px;
  font-size: 12px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr 36px;
}

.profile-picture {
  width: 36px;
  border-radius: 50px;
}
.video-info > p {
  font-size: 12px;
  margin: 0;
}
