.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  column-gap: 16px;
  row-gap: 40px;
}

.thumbnail-row {
  margin-bottom: 12px;
  position: relative;
}

.thumbnail {
  width: 100%;
  border-radius: 12px;
  display: block;
  object-fit: cover;
  aspect-ratio: 16 / 9;
  cursor: pointer;
  transition: border-radius 0.2s;
}

.thumbnail:hover {
  border-radius: 0;
}

.video-time {
  position: absolute;
  bottom: 8px;
  right: 8px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 12px;
  font-weight: 500;
  padding: 4px 6px;
  border-radius: 4px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 36px 1fr 24px;
  column-gap: 12px;
  align-items: start;
}

.channel-picture {
  display: flex;
  align-items: center;
}

.profile-picture {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.video-info {
  display: flex;
  flex-direction: column;
}

.video-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #0f0f0f;
  margin-bottom: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.video-author,
.video-stats {
  font-size: 12px;
  color: #606060;
  line-height: 18px;
}

.video-author:hover {
  color: #0f0f0f;
}

.video-menu {
  display: flex;
  justify-content: center;
  align-items: start;
  opacity: 0;
  transition: opacity 0.2s;
  cursor: pointer;
}

.video-preview:hover .video-menu {
  opacity: 1;
}